<div class="container">
  <div class-"row">
    <div class="col-md-3">
      <h4>マイページ</h4>
    </div>
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-row">
        <h5 class="p-2">登録情報</h5>
       <span class="col-md-5"><%= link_to "編集する", customers_information_edit_path, class: 'btn btn-success' %></span>
      </div>
      <div class="table-responsive-md">
    <table class="table table-bordered m-3">
      <tr>
        <td class="col-4">氏名</td>
        <td><%= current_customer.last_name %>  <%= current_customer.first_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= current_customer.last_name_kana %>  <%= current_customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= current_customer.postcode %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= current_customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= current_customer.phone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= current_customer.email %></td>
      </tr>
    </table>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h5>配送先</h5>
      <br>
      <h5>注文履歴</h5>
    </div>
    <div class="col-md-3">
      <div><%= link_to '一覧を見る', addresses_path, class: 'btn btn-primary' %></div>
      <br>
      <div><%= link_to '一覧を見る', orders_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
  </div>
</div>

