<div><span class="h4">商品一覧</span><span>(全<%= Product.count %>件)</span></div>
<div class="container">
    <div class="row">
    <% @products.each do |product| %>
    <table class="col-3">
      <tr>
        <th>
          <%= link_to product_path(product) do %>
            <%= image_tag product.get_image(200,300) %><br>
            <%= product.name %>
          <% end %>
        </th>
      <tr>
        <th>
          ￥<%= (product.price + product.price * 0.1).round.to_s(:delimited) %>
        </th>
      </tr>
    </table>
    <% end %>
    </div>
    <%= paginate @products %>
  </div>

