<span class="h2">商品一覧</span><span>(全<%= @products.count %>件)</span>
<% @products.each do |product| %>

    <div class="col-md-3">
        <%= link_to product_path(product) do %>
            <%= image_tag product.get_image(100,200) %>
            <%= product.name %>
        <% end %>
        <span>￥</span><%= product.price %>
    </div>
<% end %>


