<span class="h2">商品一覧</span><span>(全<%= Product.count %>件)</span>
<% @products.each do |product| %>
    <div class="col-md-3">
        <%= link_to product_path(product) do %>
            <%= image_tag product.get_image(100,200) %>
            <%= product.name %>
        <% end %>
        <%= (product.price + product.price * 0.1).round.to_s(:delimited) %>
    </div>
<% end %>

