<div class="container" style="font-size: 15px;">
  
    <span class="h3">商品一覧</span>
    <span>(全<%= Product.count %>件)</span>
  
    <div class="row">
<% @products.each do |product| %>
        <div class="col-3">
            <%= link_to product_path(product) do %>
                <div>
                    <%= image_tag product.get_image(200,300) %>
                </div>
                <div>
                    <%= product.name %>
                </div>
            <% end %>
            <div>
            <%= (product.price + product.price * 0.1).round.to_s(:delimited) %>
            </div>
        </div>
<% end %>
<%= paginate @products %>
    </div>
</div>
