
    <div>
      <div class="card" style="max-width: 400px;">
        <%= image_tag 'forest.jpg' %>
        <div class="card-img-overlay">
          <p class="bg-light text-dark">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
    <div>
      <h2>新着商品</h2>
      <% @products.each do |product| %>
      <div class="col-md-3">
      <table>
      <%= link_to product_path(product) do %>
      <tr>
        <th>
          <%= image_tag product.get_image %>
        </th>
      </tr>
      <tr>
        <th><%= product.name %></th>
      </tr>
      <% end %>
      <tr>
        <th>￥<%= product.price %></th>
      </tr>
  </table>
  <% end %>
  </div>
  <%= link_to "すべての商品を見る＞", products_path %>
</div>
</div>
