<h4>会員一覧</h4>
<div class="table">
<table>
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <th><%= customer.id %></th>
      <th><%= link_to admin_customer_path(customer) do%><%= customer.last_name %><%= customer.first_name %><% end %></th>
      <th><%= customer.email %></th>
      <td>
        <% if customer.is_deleted == false %>
          有効
        <% else %>
          退会済み
        <% end %>
      </td>
    </tr>
  <% end %>
  <!--10項目まで1ページに表示-->
  <%= paginate @customers %>

</table>
</div>

