<h3>購入者</h3>
<%= @order.shipping_name %>
<h3>注文日</h3>
<%= @order.created_at.strftime('%Y/%m/%d') %>
<h3>配送先</h3>
<td>〒 <%= @order.shipping_postal_code %> <%= @order.shipping_address %></td>
<%= @order.shipping_name %>
<h3>支払い方法</h3>
<%= @order.payment_method_i18n %>
<h3>注文ステータス</h3>
<%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
<!--<= f.select :order_status, options_from_collection_for_select(Genre.all, :id, :name) %>-->
<%= f.select :order_status, Order.order_statuses_i18n.keys.to_a %>
<%= f.select :order_status, Order.order_statuses_i18n.keys.map{|k| [Order.order_statuses_i18n[k],k]} %>
<%= f.select :making_status, OrderProduct.making_statuses_i18n.keys.map{|k| [OrderProduct.making_statuses_i18n[k],k]} %>
<%= f.submit '更新' %>
<% end %>



[選択肢の]