<div class="container">
<h2 class="py-3">配送先登録/一覧</h2>

<%= form_with model: @address ,url: addresses_path, method: :post do |f| %>
  <div class="row p-1">
    <%= f.label :"郵便番号(ハイフンなし)", class: "col-md-3" %>
    <%= f.text_field :postcode, placeholder: "0000000", class: "col-md-2" %>
  </div>

  <div class="row p-1">
    <%= f.label :"住所", class: "col-md-3" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-md-4" %>
  </div>

  <div class="row p-1">
    <%= f.label :"宛名", class: "col-md-3" %>
    <%= f.text_field :name, placeholder: "令和道子", class: "col-md-2" %>
  </div>

  <div class="actions-row p-1">
    <%= f.submit :"新規登録", class: 'btn btn-sm btn-success col-md-2' %>
  </div>
<% end %>
</div>