<div class="container">
<div class="row no-gutters py-3">
  <h2 class="col-12 col-sm-6 col-md-8">ショッピングカート</h2>
  <div class="col-6 col-md-4">
    <%#= link_to "カートを空にする", , method: :delete, class: "btn btn-danger pull-right" %>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr class="table-info">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag @product.image, size:"40x20" %>
        <%= @product.name %>
      </td>
      <td><%= @product.price %></td>
      <td>
        <%= form_with model: @cart_item, url: cart_items_index_path, method: :post do |f| %>
        <%= f.select :quantity, options_for_select(*[1..3]) %>
        <% end %>
      </td>
      <td></td>
      <td>e</td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
