<h1>編集画面</h1>

<%= form_with model: @product, url: admin_product_path, method: :patch do |f| %>
  <h4>商品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>商品名</h4>
  <%= f.text_field :name %>

  <h4>商品説明</h4>
  <%= f.text_area :introduction %>

  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, true %>
  <p>販売中</p>
  <%= f.radio_button :is_active, false %>
  <p>販売停止中</p>

 <!-- <h4>ジャンル</h4>-->
　<!--<= f.select :Genre.name, options_for_select(Genre.names.keys), { include_blank: "--選択して下さい--" } %>-->

  <h4>税抜価格</h4>
  <%= f.text_field :price %>

  <%= f.submit '変更を保存' %>
<% end %>