<div><span class="h2">商品一覧</span>
<span>
<%= link_to new_admin_product_path do %>
<%= image_tag '1250544.png', size: "30x30" %>
<% end %>
</span>
</div>
<div class="table">
  <tr>
<th>商品ID</th>
<th>商品名</th>
<th>税抜価格</th>
<th>ジャンル</th>
<th>ステータス</th>
</tr>
<% @products.each do |product| %>
<tr>
      <th><%= product.id %></th>
      <th>
      <%= link_to admin_product_path(product) do %>
        <%= product.name %>
      <% end %>
      </th>
      <!--<= product.genre_id.name %>-->
      <th>
      <span>￥</span><%= product.price %>
      </th>
        <th>
      <%= product.is_active ? '販売中' : '販売停止中' %>
      </th>
      </tr>
<% end %>
</div>
<%= paginate @products %>
