<h1>商品新規登録</h1>
<%= form_with model: @product, url: admin_products_path, method: :post do |f| %>
  <h4>商品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>商品名</h4>
  <%= f.text_field :name, placeholder: "商品名" %>

  <h4>商品説明</h4>
  <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>

  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, true %>
  <p>販売中</p>
  <%= f.radio_button :is_active, false %>
  <p>販売停止中</p>

 <!-- <h4>ジャンル</h4>-->
　<!--<= f.select :Genre.name, options_for_select(Genre.names.keys), { include_blank: "--選択して下さい--" } %>-->

  <h4>税抜価格</h4>
  <%= f.text_field :price, placeholder: "1000" %>



  <!--(:f, :is_active, { on_sale: 0, out_of_sale: 1 }, :boolean, { on_sale: 販売中, out_of_sale: 販売停止中 }) do |b| %>-->
  <!--f.collection_radio_buttons(オブジェクト名, プロパティ名, オブジェクトの配列, value属性の項目, テキストの項目 [, オプション])-->
    <!--<= b.label {b.radio_button + b.text} %>-->
  <!--< end %>-->

  <%= f.submit '新規登録' %>
<% end %>