<div class="col h2 offset-2 mb-5">商品詳細</div>
<div class="row d-flex justify-content-center mb-3">
  <div class="col-3 offset-1">
    <%= image_tag @product.get_image(300,200) %>
  </div>
  <div class="col-5">
    <table class="table table-borderless">
      <tr>
        <td>商品名</td>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <td>商品説明</td><td><%= @product.introduction %></td>
      </tr>
      <!--<tr>-->
      <!--  <td>ジャンル</td><td><= @product.genre.name %></td>-->
      <!--</tr>-->
      <tr>
        <td>税込み価格<br>(税抜価格)</td><td><%= (@product.price + @product.price * 0.1).round.to_s(:delimited) %>(<%= @product.price.round.to_s(:delimited) %>)円</td>
      </tr>
      <tr>
        <td>販売ステータス</td><td><%= @product.is_active ? '販売中' : '販売停止中' %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row mt-3 d-flex justify-content-center">
  <%= link_to "編集する", edit_admin_product_path(@product.id), class: "btn btn-success btn-lg" %>
</div>
