<div class="container">
    <h3 class="my-3 px-3 col-md-4 text-center">注文情報入力</h3>
    
    <div class-"row col-lg-12">
      <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
      <div>
        <h5>支払方法</h5>
        <div class="col-md-10 table table-hover">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        <br>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
        </div>
      </div>
      <h5>お届け先</h5>
      <div class="col-md-10 table table-hover">
        <%= f.radio_button :address_option, 0, checked: "checked" %>
        <%= f.label :order_address, "ご自身の住所" %>
        <br>
        〒<%= current_customer.postcode %>
          <%= current_customer.address %><br>
          <%= current_customer.last_name %><%= current_customer.first_name %>
        <br>
      </div>

      <div class="col-md-10 table table-hover">
        <%= f.radio_button :address_option, 1 %>
        <%= f.label :order_address, "登録済住所から選択" %>
        <br>
        <%= f.collection_select(:address_id, current_customer.addresses, :id, :full_address) %>
      </div>
      <div class="col-md-10 table table-hover">
        <%= f.radio_button :address_option, 2 %>
        <%= f.label :order_address, "新しいお届け先" %>
     　 <table>
          <tr>
            <td><%= f.label :shipping_post_code, "郵便番号(ハイフンなし)" %></td>
            <td><%= f.text_field :shipping_post_code　%></td>
          </tr>
          <tr>
            <td><%= f.label :shipping_address, "住所" %></td>
            <td><%= f.text_field :shipping_address, size: "50x5" %></td>
          </tr>
          <tr>
            <td><%= f.label :shipping_name, "宛名" %></td>
            <td><%= f.text_field :shipping_name %></td>
          </tr>
        </table>
        <div class="col-md-10 table table-hover">
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
  </div>
</div>