<h1>Public::Orders#show</h1>
<table>
  <tr>
    <td>注文日</td><td><%= @orders.create_at %></td>
  </tr>
  <tr>
    <td>配送先</td><td><%= @order.shipping_post_code %><br><%= @orders.shipping_address %><br><%= @order.shipping_name %></td>
  </tr>
  <tr>
    <td>支払方法</td><td><%= @orders.payment_method %></td>
  </tr>
  <tr>
    <td>ステータス</td><td><%= @orders.order_status %></td>
  </tr>
</table>
<h5>請求情報</h5>
<table>
  <tr>
    <td>商品合計</td><td></td>
  </tr>
  <tr>
    <td>配送料</td><td><%= @orders.postage %></td>
  </tr>
  <tr>
    <th>ご請求額</th><td></td>
  </tr>
</table>