<div class="container" style="font-size: 15px;">
<h3 class="py-3">ログイン</h3>

<%= render "devise/shared/error_messages",resource: resource %>

<h5 class="p-3">会員の方はこちらからログイン</h5>
<%= form_with model: Customer.new, url: customer_session_path(), local: true do |f| %>

  <div class="row justify-content-center p-2">
    <%= f.label :"メールアドレス", class: "col-md-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-4" %>
  </div>
  <div class="row justify-content-center p-2">
    <%= f.label :"パスワード", class: "col-md-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-md-4" %>
  </div>

  <div class="actions-row p-3">
    <%= f.submit "ログイン", class: "btn btn-sm btn-primary col-md-2 mx-auto d-block" %>
  </div>
<% end %>
<br>
<h5 class="p-3">会員登録がお済みでない方</h5>
<div class="col-md-5">
<%= link_to "こちら", new_customer_registration_path, class: "col-md-3" %>から新規登録を行ってください。
</div>
</div>